<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenAIAPIKey</key>
	<string>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</string>
</dict>
</plist>
